/myvenv/
/images/
/.vscode/
/UML
/backend/.idea
/api/*.json
/env*
/detection/data
/detection/example/train
/detection/__pycache__
/detection/Images
/AuGen/Images
/.idea
/backend/blueprints/detection/Images
**/__pycache__/
/runs
/detectron2
result*
